.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.input-container {
    position: relative;
}

.input-container input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px; /* Adjust the margin to your preference */
}
